header {

    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    
}

ul {
    
    display:flex;
    
}



li {
    list-style-type: none;
    margin:30px;
    font-size:25px;
    
    
}

a {
    
    text-decoration: none;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:40px;
    color: white;
    margin-left:30px;
}

body {

    background-image: url("sfondo.jpg");
    background-repeat:no-repeat;
    background-size: 1280px 1939px;
       
}

main {

    
    width: 1245px;
    height: 1700px;
}

.albo {
    
    display:flex;
    align-items:center;
    margin:20px;
    padding:20px;
    background-color:rgb(16, 249, 245);
}

h2 {
    text-align:center;
    color:white;
    background-color:red;
}
.trofeo {

}


footer {
   
    border: 1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-size:20px;

}