header {

    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    
}

ul {
    
    display:flex;
    
}

.tit-descrizione {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:50px;
    color: white;
    margin-left:30px;
}

li {
    list-style-type: none;
    margin:30px;
    font-size:25px;
    
    
}

a {
    
    text-decoration: none;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-image: url("sfondo.jpg");
    background-repeat:no-repeat;
    background-size: 1280px 1058px;
       
}

h1 {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:40px;
    color: white;
    margin-left:30px;
}

main {

    
    width: 1245px;
    height: 800px;
}

.desc {

    display:flex;
    justify-content:space-around;
    margin-top:150px;
}

p {
    font-size:25px;
    width:600px;
    padding:30px;
    color:white;
    background-color:black;
}


footer {
   
    border: 1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-size:20px;

}