header {

    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    
    
}


ul {
    
    display:flex;
    
}

h1 {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:40px;
    color: white;
    margin-left:30px;
}

li {
    list-style-type: none;
    margin:30px;
    font-size:25px;
    
    
}

a {
    
    text-decoration: none;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-image: url("sfondo.jpg");
    background-repeat:no-repeat;
    background-size: 1280px 1060px;
    
       
}


main {
   
    width:1245px;
    height: 800px;
}

.news {

    border:1px solid white;
    width:1200px;
    height: 400px;
    margin-left:23px;
    position:relative;
    top:100px;
    background-color: white;

}

iframe {

    margin-left:300px;
}

.tit-news {

     color:black;
     text-align:center;
}

footer {
   
    border: 1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-size:20px;

}